
H1 {    /* с маленькой буквы */  
  color: #000080;
  font-size: 200%;
  font-family: Comic Sans MS, cursive;
  text-align: center;
} /* пробел забыл */  
margin:0
font-family: Comic Sans MS, cursive;
}


th { /* ужасное форматирование */  
padding: 10px;
border: 1px solid #black
}

table { /* ужасное форматирование */ 
 text-align: center;
 }
 
td.col1 { background:  #AFEEEE; } /* ужасное форматирование */ 
td.col2 { background:  #9370DB; } /* ужасное форматирование */ 
p.col3 { background:  #9370DB; } /* ужасное форматирование */ 

.rightpic {  /* ужасное форматирование */ 
    float: right; 
    margin: 0 0 5px 5px; 
   }
 .rightcol { /* ужасное форматирование */ 
    text-align: right;
 }	
